* {
    font-family: sans-serif;
}

html {
    background: #006a56;
    color: white;
    position: relative;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 20px;
}

#booking-cta {
    position: fixed;
    right: 20px;
    top: 20px;
}

#hero-logo-div {
    text-align: center;
    margin-top: 25vh;
}

#hero-logo {
    max-width: 50vw;
}

#buttons-container {
    text-align: center;
    margin-top: 15vh;
}