* {
    font-family: sans-serif;
}

html {
    background: #006a56;
    color: white;
    position: relative;
}

button {
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    font-size: 20px;
    background: none;
    color: white;
    transition: 200ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

#booking-cta {
    position: fixed;
    right: 20px;
    top: 20px;
}

#hero-logo-div {
    text-align: center;
    margin-top: 25vh;
}

#hero-logo {
    max-width: 75vw;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}